<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <a href="https://lamarr-institute.org"><img height=50px src="lamarr-logo-small.png" style="margin: 5px;"></a>
    <a href="https://rc-trust.ai"><img height=50px src="rc-trust-logo.png" style="margin: 5px;"></a>
    <a href="https://tu-dortmund.de"><img height=50px src="tu-dortmund-logo.png" style="margin: 5px;"></a>

    <br>
    Contact: <br>
    <a class='u-email' href='mailto:matthias.jakobs@tu-dortmund.de'> Matthias Jakobs </a>
    <br>
    <a class='u-email' href='mailto:amal.saadallah@cs.tu-dortmund.de'> Amal Saadallah </a>

    <!-- <div class="footer-col-wrapper"> -->
    <!--   <div class="footer-col footer-col-1"> -->
    <!--     <ul class="contact-list"> -->
    <!--       <li class="p-name"> -->
    <!--         {%- if site.author -%} -->
    <!--           {{ site.author | escape }} -->
    <!--         {%- else -%} -->
    <!--           {{ site.title | escape }} -->
    <!--         {%- endif -%} -->
    <!--         </li> -->
    <!--         {%- if site.email -%} -->
    <!--         <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
    <!--         {%- endif -%} -->
    <!--     </ul> -->
    <!--   </div> -->

    <!--   <div class="footer-col footer-col-2"> -->
    <!--     {%- include social.html -%} -->
    <!--   </div> -->

    <!--   <div class="footer-col footer-col-3"> -->
    <!--     <p>{{- site.description | escape -}}</p> -->
    <!--   </div> -->
    <!-- </div> -->

  </div>

</footer>
