.banner {
    position: relative; 
    font-family:'Roboto Slab',serif;
    width: 100%
}
.top-left {
    font-size:5.33em; 
    color: #505050; 
    background: #fafafa; 
    text-align: center; 
    width: 750; 
    height: 67px; 
    position: absolute; 
    padding: 36px 0 0 0; 
    top: 0px;
}
.bottom-right {
    font-size:2.33em; 
    color: #fafafa; 
    //line-height: 1.5em; 
    //width: auto; 
    //height: 100px; 
    //padding: 0px 430px 27px 0px; 
    position: absolute;
    top: 50%;
    left: 40%;
    //text-align: right; 
    //position: relative; 
    // bottom: 0px; 
    // right: 0px; 
    text-shadow: 0px 0px 6px #000000;
;}

.title-text {
    font-size: 3em;
    font-family:'Athelas',serif;
}
.title1{color: 	#cf4500	; text-shadow: 1px 1px 3px #c0c0c0;} 
.title2{color: #da8520; text-shadow: 1px 1px 3px #c0c0c0;}
.year{color: #505050; font-size:0.67em; font-weight: lighter;}

h2 {
    color: #da8520;
    text-shadow: 1px 1px 3px #c0c0c0;
}

a:link {
    color: #da8520;
}

a:visited {
    color: #da8520;
}
